


<label for="listStyle">List Style</label>
<input
   id="user_username"
   name="user[username]"
   type="text">
<br>


<input type="submit" value="Commit changes" id="logInButton"         class="ink-button blue large-10 push-center">


<footer id="mainFooter"></footer>

  <div class="listOfLists" id="sampleList">
    <div id="listButtonHolder">
      <div class="createCard">
        <button
          class="ink-button red" id="addCardsampleList"> +
        </button>
      </div>
      <div class="deleteAList">
        <button
          class="ink-button blue" id="sampleListBtn"> X
        </button>
      </div>

    </div>
    <div class="list-title">
      <%= 'Sample' %>
    </div>

      <div class="listContent push-center ui-droppable" id="sampleListContent">

        <div id="sampleCardHolder" class="cardContainer push-center ui-draggable" >
          <div class="cardTitle push-center" id="sampleCardHolderTitle"> Sample Card
              <button class="deleteACard ink-button blue push-left" id="deleteSampleCard">X  </button>
              <button class="inspectACard ink-button red push-right" id="inspectSampleCard">  
                <i class="icon-search"></i> 
              </button>

            </div>
             <div class="cardBody push-center" id="sampleCardBody"></div>
    </div>
  </div>