// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board_content{
  background-color: grey;
  width: 100%;
  height: 1050px;
}

.DF{
  margin: 10px;
  text-align: center;
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
  font-size: larger;
  padding: 10px;
  height:100px;
  width:100px;
  background-color:rgb(200, 207, 228);
}

#v-buffer-space{
  height: 150px;
}

#h-buffer-space{
  width: 150px;
}

#createHolder{
  background-color: #999;
  width: 500px;
  height: 100px;
}
.boards_all{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#nav_container{
  width: 1000px;
  height: 50px;
}

#myBoard{
  height: 900px;
  width: 900px;
  background-color: #C0C0C0;
}

#boardTitle{
  height: 800px;
  width: 100%;
  background: #FFFFF0;
  text-align: center;
  text-size: 100px;
  font-size: 30px;
  overflow-x: scroll;
  white-space: nowrap;
  box-sizing: border-box;
}

#home{
  font-size: 16px;
  color: black;
}

#settings{
  font-size: 16px;
  color: black;
}
