// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board_content{
  background-color: grey;
  width: 100%;
  height: 1000px;
}

#createHolder{
  background-color: #999;
  width: 500px;
  height: 100px;
}
.boards_all{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#nav_container{
  width: 1000px;
  height: 50px;
}

#myBoard{
  height: 900px;
  width: 900px;
  background-color: #C0C0C0;
}

#boardTitle{
  height: 800px;
  width: 100%;
  background: #FFFFF0;
  text-align: center;
  text-size: 100px;
  font-size: 30px;
}


