// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ink-navigation ul.menu.rounded.horizontal li ul.submenu li {
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
background-color: blanchedalmond;
cursor: -webkit-grab;
}


#slideShowDiv{
  height: 400px;
  line-height: 2;

  background-color: #CBE4FF
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 50%; 
    height: 75%; 
    padding: 10px; 
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#signInDiv{
	height: 200px;
	line-height: 2;
	margin-bottom: 1em;
	margin-left: 2em;

}

#createAccountDiv{
	height: 200px;
	line-height: 2;
	margin-bottom: 1em;
	margin-left: 2em;
}


#trolleWelcome{
  background: lightsteelblue;
  border-bottom: 0;
  padding-top: 0;
  margin: 0;
	height: 300px;
}

#signUpButton{
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
}

#logInButton{
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
}

#joinUs{
  background-color: white;
}

#createAccountSection{
  background-color: #63ACD1;
}

#createAccountDiv{
  float: right;
  text-align: center;
  text-shadow: white;
  font-size: xx-large;
  position: relative;
  right: 600px;
}

#signInDiv{
  float: right;
  text-align: center;
  text-shadow: white;
  font-size: xx-large;
  position: relative;
  right: 600px;
}

#raveReviews{
  height: 300px;
  background-color: #9A9DF3;
}

#imageLogo{
  height: 75px;
  background: url('trollface_small.png');
  width: 75px;
  background-repeat: no-repeat;
  float: right;
}

#organizeImage{
  height: 267px;
  width: 612px;
  background-repeat: no-repeat;
  background: url('Organize_ideas.png');
}

#makeLists{
  height: 267px;
  width: 612px;
  background-repeat: no-repeat;
  background: url('lists2.png');
}

#welcomeLogo{
  float:right;
  font-family: fantasy;
  font-size: larger;
}


#main_container{
  position: relative;
}

#aboutMe{
   background: #D9D9D9;

   width: 300px;
   height: 120px;
   display: none;
   position: relative;
   left: 100;
   top: 100;
   z-index: 3;
 }

 #aboutWebsite{
   background: #D9D9D9;

   width: 300px;
   height: 120px;
   display: none;
   position: relative;
   left: 100;
   top: 100;
   z-index: 3;
 }

#contactMe{
   background: #D9D9D9;

   width: 300px;
   height: 120px;
   display: none;
   position: relative;
   left: 100;
   top: 100;
   z-index: 3;
 }

#log_in_container{
  background-color: aliceblue;
  border-style: solid;
  border-color: ghostwhite;
  height: 600px;
  width: 800px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 615px;
  z-index: 0;
}

#testimonial1{
  font-family: sans-serif;
  font-size: 28px;
  color: whitesmoke;
}

